<p-card [style]="{'text-align':'center'}">
  <ng-template pTemplate="header">
    <div class="p-grid p-justify-center">
      <h1>
        <strong>
          Choose game params
        </strong>
      </h1>
    </div>
  </ng-template>
  <form class="p-grid p-fluid" [formGroup]="form" (ngSubmit)="submit()" class="center">
    <div class="p-col-12 p-md-8">
      <p-card class="p-col-12 p-md-12">
        <div class="form-group p-grid p-fluid">
          <div class="p-float-label p-col-12 p-md-2"></div>
          <div class="p-float-label p-col-12 p-md-2">
            <input id="destIp" type="text" autocomplete="off" pInputText formControlName="sourceIp" class="form-control"
              placeholder="Source IP" />
          </div>
          <div class="p-float-label p-col-12 p-md-1"></div>
          <div class="p-float-label p-col-12 p-md-2">
            <input id="destIp" type="text" autocomplete="off" pInputText formControlName="destIp" class="form-control"
              placeholder="Destination IP" />
          </div>
          <div class="p-float-label p-col-12 p-md-1"></div>
          <div class="p-float-label p-col-12 p-md-2">
            <input id="path" type="text" autocomplete="off" pInputText formControlName="path" class="form-control"
              placeholder/>
          </div>
          <div class="p-float-label p-col-12 p-md-2"></div>
          <div class="p-float-label p-col-12 p-md-2"></div>
          <div class="p-float-label p-col-12 p-md-2">
            <input id="protocol" type="text" autocomplete="off" pInputText formControlName="protocol"
              class="form-control" placeholder="Protocol" />
          </div>
          <div class="p-float-label p-col-12 p-md-1"></div>
          <div class="p-float-label p-col-12 p-md-2">
            <input (keypress)="numberOnly($event)" type="number" id="status" autocomplete="off" pInputText
              formControlName="status" placeholder="Status" class="form-control" />
          </div>
        </div>
        <div class="p-float-label p-col-12 p-md-12"></div>
        <div class="form-group p-grid p-fluid">
          <div class="p-float-label p-col-12 p-md-8"></div>
          <div class="p-float-label p-col-12 p-md-2">
            <button id="search" type="submit" class="p-button-rounded" label="Search" pButton></button>
          </div>
        </div>
      </p-card>
    </div>
  </form>
</p-card>
