.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  max-width: 700px;
  width: 40%;
  margin: 0 auto;
}
.image {
  width: 60%;
}

form > mat-form-field {
  width: 60%;
}
