.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  max-width: 700px;
  margin: 0 auto;
}

form > mat-form-field {
  width: 60%;
}

.center {
  display: flex;
  justify-content: center;
}